{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
    {{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) (.Date | time.Format (default ":date_long" site.Params.DateFormat)))) }}
{{- end }}

{{- with (index .Params.tags 0) }}
    {{- $tag := . }}
    {{- $capTag := printf "%s%s" (strings.ToUpper (substr $tag 0 1)) (substr $tag 1) }}
    {{- $scratch.Add "meta" (slice (printf "<span><a href='%s' class='primary-tag'>%s</a></span>" ($.Site.GetPage (printf "/tags/%s" $tag)).Permalink $capTag)) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
    {{- with (partial "author.html" .) }}
        {{- $scratch.Add "meta" (slice (printf "<span>%s</span>" .)) }}
    {{- end }}
{{- end }}

{{- with ($scratch.Get "meta") }}
    {{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}
